//- PROJECT VARIABLES.
//-
//- Example for pug:
//-
//- title #{title}
//- meta(name="description", content=description)
//- meta(name="keywords", content=keywords)

block config
  - var title = "Test gh pages gulp plugin"
  - var description = "Test gh pages gulp plugin"
  - var keywords = "Test gh pages gulp plugin"
