include ../config

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{title}
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
    block styles
      link(rel="stylesheet", href="./assets/styles/core.css")

  body.page
    .layout
      include ../includes/header
      main.content
        block content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi culpa ex saepe hic facilis sit, rem tempora veritatis eum maiores, dolore explicabo ipsum consequatur, veniam, autem earum molestiae exercitationem obcaecati.
      include ../includes/footer

    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      script(src="./assets/scripts/core.js")
